<div id="calculate-model" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

    <button class="uk-modal-close-default">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.6708 1.90649L1.6875 21.8856" stroke="#626E84" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M21.6768 21.8975L1.67676 1.89746" stroke="#626E84" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>

    </button>
    <div class="login-model-body">
      <form>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <input class="input" type="text" placeholder="Enter Total bill amount">
            <a href="#Burn-model" uk-toggle>
              <button class="login-btn">
                calculate
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<div id="Burn-model" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

    <button class="uk-modal-close-default">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.6708 1.90649L1.6875 21.8856" stroke="#626E84" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M21.6768 21.8975L1.67676 1.89746" stroke="#626E84" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>

    </button>
    <div class="login-model-body">
      <form>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="card-info">
              <div class="card-info-body">
                <p>Bill amount</p>
                <p class="value">200</p>
              </div>
              <div class="card-info-body">
                <p>Discount:</p>
                <p class="value">-50</p>
              </div>
              <div class="card-info-body">
                <p>Total Payment:</p>
                <p class="value">150</p>
              </div>
            </div>
            <a uk-toggle class="uk-toggle" href="#successfully-model">
              <button class="login-btn">
                Burn
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




<div id="successfully-model" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

    <button class="uk-modal-close-default">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.6708 1.90649L1.6875 21.8856" stroke="#626E84" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M21.6768 21.8975L1.67676 1.89746" stroke="#626E84" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>

    </button>
    <div class="login-model-body">
      <form>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="successfully-body">
              <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.1338 40.0003L36.0471 47.9103L51.8671 32.0903" stroke="#66CC66" stroke-width="4"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.16602 40.0003C9.16602 63.1237 16.876 70.8337 39.9993 70.8337C63.1227 70.8337 70.8327 63.1237 70.8327 40.0003C70.8327 16.877 63.1227 9.16699 39.9993 9.16699C16.876 9.16699 9.16602 16.877 9.16602 40.0003Z"
                  stroke="#66CC66" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <h3>Coupon code is redeemed successfully</h3>
            </div>


          </div>
        </div>
      </form>
    </div>
  </div>
</div>
